/* * * * * * * * * * * * * * * * * * * * * * * */
/* common                                      */

.hidden{
  display:none !important;
  opacity:0 !important;
  visibility: hidden !important;
}

.visible{
  display:block !important;
  opacity:1 !important;
  visibility: visible !important;
}
table.visible{
  display:table !important;
}


:root{
--fao-blue: #0f60d5;
--fao-white: #ffffff;
--fao-dark-blue: #1a2b4a;
--fao-light-blue-1: #9ec2f5;
--fao-light-blue-2: #bad1f6;
--fao-light-blue-3: #d7e4fa;
--fao-light-blue-4: #f1f6fd;
--fao-green: #b2d235;
--fao-pink: #e23e94;
}





/* * * * * * * * * * * * * * * * * * * * * * * */
/* map                                         */

#map-heading {
  background: var(--fao-dark-blue);
  color: white;
  margin-bottom: 0;
  padding: 10px 5px;
}

.map-container{
  margin-inline:auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  gap: 5px;
  border: 2px solid var(--fao-dark-blue);
  padding: 0.5rem;
  position: relative;
}

/* grid-positions */
.map-container #map-system-label   { grid-area: 1 / 1 / 2 / 2; }
.map-container #map-system         { grid-area: 2 / 1 / 3 / 2; }
.map-container #map-select-label   { grid-area: 1 / 2 / 2 / 3; }
.map-container #map-select         { grid-area: 2 / 2 / 3 / 3; }
.map-container #map-svg,
.map-container .map-tooltip        { grid-area: 3 / 1 / 4 / 2; }
.map-container #map-source         { grid-area: 4 / 1 / 5 / 2; }
.map-container .map-info           { grid-area: 3 / 2 / 5 / 3; }

.map-container #map-svg {
  display: block;
  margin-inline: auto;
  position:relative;
}


.map-container #map-svg > g{
  stroke-width: 0.25;
}
.map-container #map-svg > g:not(#base){
  visibility:hidden;
}



.map-container #map-svg g#base{ fill: #e5e5e5; stroke:#b5b5b5; }
.map-container #map-svg g#fc{ fill:#026B99; stroke:#002028; }
.map-container #map-svg g#fp{ fill:#A6CC09; stroke:#375600; }
.map-container #map-svg g#ec{ fill:#E33D94; stroke:#77074D; }
.map-container #map-svg g#ep{ fill:#43A1FF; stroke:#004591; }

.map-container #map-svg g#fc > g:is(:hover,:focus,.selected,.highlighted){ fill:#002028; stroke:#026B99; }
.map-container #map-svg g#fp > g:is(:hover,:focus,.selected,.highlighted){ fill:#375600; stroke:#A6CC09; }
.map-container #map-svg g#ec > g:is(:hover,:focus,.selected,.highlighted){ fill:#77074D; stroke:#E33D94; }
.map-container #map-svg g#ep > g:is(:hover,:focus,.selected,.highlighted){ fill:#004591; stroke:#43A1FF; }
/* 
.map-container #map-svg > g:not(#base) > g:hover,
.map-container #map-svg > g:not(#base) > g:focus,
.map-container #map-svg > g:not(#base) > g:has(path:focus),
.map-container #map-svg > g:not(#base) > g.selected,
.map-container #map-svg > g:not(#base) > g.highlighted{
  fill: var(--fao_blue);
  stroke: var(--fao_dark_blue);
} */

g:focus{
  outline: none;
}


.map-tooltip {
  position: absolute;
  display: inline-block;
  z-index: 10;
  color:white;
  background: grey;
  padding: 0.5em 1em;
  margin:0;
  transform: translateY(-120%);
  border-radius: 0.25em;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
}

.map-container:has(option[value="fc"]:checked) .map-tooltip { background:#026B99; border: 1px solid #002028; }
.map-container:has(option[value="fp"]:checked) .map-tooltip { background:#A6CC09; border: 1px solid #375600; }
.map-container:has(option[value="ec"]:checked) .map-tooltip { background:#E33D94; border: 1px solid #77074D; }
.map-container:has(option[value="ep"]:checked) .map-tooltip { background:#43A1FF; border: 1px solid #004591; }


.map-container #map-source {
  font-size: 0.7em;
  line-height: 1.2;
}



.map-container label {
  font-size: 14px;
  line-height: 1;
}


.map-container .map-info > * {
  opacity: 0;
  display: none;
  font-size: 14px;
  font-size: clamp(10px,2vw,14px);
  line-height: 1.5;
}
.map-container .map-info > * > * {
  padding-block: 5px;
}
.map-container .map-info > * > * + * {
  /* margin: 10px 0 0 0; */
  border-bottom: 1px solid var(--fao_light_blue_3);
}
.map-container .map-info:target {
  display:block;
}

.map-info {
  overflow-x: auto;
  max-width:100%;
}

.map-info table{
  border-collapse: collapse;
  border: none;
  width:100%;
}
.map-info table tr{
  border-bottom: 1px solid var(--fao-light-blue-3);
}
.map-info table th{
  background: var(--fao-dark-blue);
  color: white;
}  
.map-info table :is(td,th){
  padding: 0.25em;
  text-align: left;
}
/* table column widths */
.map-info table :is(th,td):nth-child(1) { min-width: 25ch; }
.map-info table :is(th,td):nth-child(2) { width: 12ch; text-align: center; }
.map-info table :is(th,td):nth-child(3) { width: 10ch; text-align: center; }
.map-info table :is(th,td):nth-child(4) { width: 12ch; text-align: center; }


/* colour third column */
.map-info table td:nth-child(3) { background:var(--fao-light-blue-4); }



abbr[title]::after{
  content: ' ? ';
  display: inline-block;
  background: var(--fao-light-blue-3);
  /* border: 1px dotted #000000; */
  font-size: 0.9em;
  margin-left: 0.5em;
  padding: 0.125em 0.5em;
  border-radius: 100%;
}
/* ABBR functionality for mobile / keyboard */
abbr[title]:focus::after{
  content:  attr(title);
  padding: 0.125em;
  border-radius: 0.125em;
}


/* change map layout to single column stack for mobile */
@media only screen and (max-width: 768px) {
  #map-heading { 
    margin-inline: -24px; 
    line-height: 1.1;
  }
  .map-container{
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 0;
    margin-inline: -24px;
  }
  .map-container #map-source {
    border-bottom: 0.125em solid var(--fao-dark-blue);
  }

  .map-container #map-svg,
  .map-container .map-tooltip        { grid-area: 1 / 1 / 2 / 2; }
  .map-container #map-source         { grid-area: 2 / 1 / 3 / 2; }
  .map-container #map-system-label   { grid-area: 3 / 1 / 4 / 2; }
  .map-container #map-system         { grid-area: 4 / 1 / 5 / 2; }
  .map-container #map-select-label   { grid-area: 5 / 1 / 6 / 2; }
  .map-container #map-select         { grid-area: 6 / 1 / 7 / 2; }
  .map-container .map-info           { grid-area: 7 / 1 / 8 / 2; }
}





